<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<form th:action="@{/user}" method="post" class="form-signin">
    <h2 class="form-signin-heading">Edit Profile</h2>
    <p>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" th:value="${user.username}"
               placeholder="Username" required autofocus>
        <input type="hidden" name="realname" th:value="${user.id_user}">
    </p>
    <div>
        <label><input type="checkbox" value="USER" name="USER" th:checked="${USER=='USER'?true:false}">USERS</label>
    </div>
    <div>
        <label><input type="checkbox" name="ADMIN" value="ADMIN" th:checked="${ADMIN=='ADMIN'?true:false}">ADMIN</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
</form>
</body>
</html>
>