<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>$Первая HTML страница$</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style/mainPage.css">
</head>
<body style="height:100%;width:100%;line-height:1.4">
<header th:insert="blocks/blockss :: header">
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</header>
<div class=midl>
    <a href="/user" style="text-decoration: none;color:black;">
        <button class=addcat>Пользователи</button>
    </a>
    <a href="/addCats" style="text-decoration: none;color:black;">
        <button class=addcat>Добавить кота</button>
    </a>
    <div style="margin:0 auto;">
        <table border="1" cellpadding="2" width="280px" style="margin:0 auto;" class="table table-dark">
            <tr>
                <th colspan="2" class=""><span class="px30">ID кота</span><span class="px30">  Имя</span></th>
            </tr>

            <div th:each="el : ${listcat}">
                <tr class="form_radio_btn">
                    <td colspan="2" style="width:300px">
                        <input th:id="${el.id_cat}" type="radio" name="radio" th:value="${el.id_cat}" checked>
                        <label th:for="${el.id_cat}"> <span
                                style=margin-right:70px;margin-left:20px;>[[${el.id_cat}]]</span><span>[[${el.name_cat}]]</span></label>

                        <input type="hidden" name="name_cat1" th:id="name_cat+${el.id_cat}" th:value="${el.name_cat}"/>
                        <input type="hidden" name="id_dad1" th:id="id_dad+${el.id_cat}" th:value="${el.id_dad}"/>
                        <input type="hidden" name="id_mam1" th:id="id_mam+${el.id_cat}" th:value="${el.id_mam}"/>
                        <input type="hidden" name="gender1" th:id="gender+${el.id_cat}" th:value="${el.gender}"/>
                    </td>
                </tr>

            </div>
            <tr>
                <form method="post" th:action="@{/chekCat}">
                    <td colspan="2">
                        <button name="check" id="check" class=cat onclick="shipment()" value="">
                            Просмотреть
                        </Button>
                    </td>
                </form>
            </tr>
            <tr>
                <div th:insert="blocks/blockss :: buttonMainDelete">
                </div>
            </tr>
        </table>
    </div>
</div>
<script>
    function s1() {
        $('input:radio:checked').each(function () {
            document.getElementById("delete").value = $(this).val();
            document.getElementById("check").value = $(this).val();
            alert(document.getElementById("delete").value);
            alert(document.getElementById("check").value);
        })
    }

    function check() {

        if (confirm('Вы уверены?') == false) {
            return false;
        }
    }

    function shipment() {
        $('input:radio:checked').each(function () {
            document.getElementById("delete").value = $(this).val();
            document.getElementById("check").value = $(this).val();
            var id = (String)($(this).val());
            var name = (String)("name_cat" + id);
            var dad = (String)("id_dad" + id);
            var mam = (String)("id_mam" + id);
            var gen = (String)("gender" + id);

            document.getElementById("name_cat").value = document.getElementById(name).value;
            document.getElementById("id_dad").value = document.getElementById(dad).value;
            document.getElementById("id_mam").value = document.getElementById(mam).value;
            document.getElementById("gender").value = document.getElementById(gen).value;

            console.log(document.getElementById("delete").value);
            console.log(document.getElementById("name_cat").value);
            console.log(document.getElementById("id_dad").value);
            console.log(document.getElementById("id_mam").value);
            console.log(document.getElementById("gender").value);
        })
    };
</script>
</body>
</html>
